body {
    width: 100%;
    height: 100%;
    background-color: beige;
    margin: 0px;

}

footer{

    max-width: 100%;
    background-color: burlywood;
    margin-top: 15px;
    margin-bottom: 100px;
    height: 75px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}

h3{

    margin-bottom: 10px;

}

.books{
    display: block;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}


.box {

    background-color: white;
    margin: auto;
    width: 55%;
    border: 1px solid lightblue;
    padding-bottom: 0px;

}

.book-info {

    margin-left: 15px;
    margin-right: 10px;

}


#book-link{

    font-size: 33px;

}

#detail-box{
    border: none;
    padding-top: 2px;
    padding-bottom: 10px;

}

#review-box{
    padding: 30px 20px;


}


#button{
    margin-top: 10px;
}
